{% extends 'base.html.twig' %}

{% block title %}Type index{% endblock %}

{% block body %}
    <h1 class="text-center">Type index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Pokemons</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td>{{ type.id }}</td>
                <td>{{ type.nom }}</td>
                <td>
                    <ul>
                        {% for pokemon in type.pokemons %}
                            <li><a href="{{ path('app_pokemon_show', {'id': pokemon.id}) }}">{{ pokemon.nom }}</a></li>
                        {% else %}
                            <li>Aucun Pokémon de ce type trouvé</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_type_show', {'id': type.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('app_type_edit', {'id': type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class ="btn btn-success ml-3" href="{{ path('app_type_new') }}">Create new</a>
{% endblock %}
