{% extends 'base.html.twig' %}

{% block title %}Type{% endblock %}

{% block body %}
    <h1 class="text-center">Type : {{ type.nom }}</h1>

    <div class="container">

        <h2>Pokemons</h2>
        <div class="row">
                {% for pokemon in type.pokemon %}
                    <div class="card mb-2 mr-2 ml-2 mt-2" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ pokemon.nom }}</h5>
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse_{{ pokemon.id }}" aria-expanded="false" aria-controls="collapse_{{ pokemon.id }}">
                                Show
                            </button>
                            <div class="collapse" id="collapse_{{ pokemon.id }}">
                                <div class="card-text card mt-4">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Points de vie : {{ pokemon.PointDeVie }}</li>
                                        <li class="list-group-item">Points d'attaque : {{ pokemon.PointAttaque }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="card mb-2 mr-2 ml-2 mt-2">
                        <div class="card-text mt-4 mb-4 ml-4 mr-4 text-center">
                            Aucun Pokémon de ce type trouvé
                        </div>
                    </div>
                {% endfor %}
        </div>

        <div class="card-footer">
            <div class="row">

                <a class="btn btn-secondary" href="{{ path('app_type_index') }}">back type list</a>

                <a class="btn btn-warning ml-2 mr-2" href="{{ path('app_type_edit', {'id': type.id}) }}">edit</a>

                {{ include('type/_delete_form.html.twig') }}
                
            </div>
        </div>
    </div>
{% endblock %}
