{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="text-center">Register</h1>

    <div class="card">
        <div class="card-header">
            {{ form_errors(registrationForm) }}
        </div>

        {{ form_start(registrationForm) }}
            <div class="card-body">
                <div class="form-group">
                    {{ form_row(registrationForm.username) }}
                </div>

                <div class="form-group">
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                </div>

                <div class="form-group">
                    {{ form_widget(registrationForm.agreeTerms) }}
                    {{ form_label(registrationForm.agreeTerms) }}
                </div>
            </div>
            
            <div class="card-footer">
                <button type="submit" class="btn btn-warning">Register</button>
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
