{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="text-center">Register</h1>

    <div class="card">
        <div class="card-header">
            {{ form_errors(registrationForm) }}
        </div>

        <div class="card-body">
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username, {
                    'attr': {'class': 'form-group'},
                    widget: {'attr': {'class': 'from-text, form-control'}}
                }) }}
        
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password',
                    widget: {'attr': {'class': 'form-control'}}
                }) }}

                {{ form_row(registrationForm.agreeTerms) }}

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-warning">Register</button>
        </div>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
