{{ form_start(form) }}
    <div class="card-body">
        <div class="form-group">
            {{form_row(form.nom)}}
        </div>
        <div class="form-group">
            {{form_row(form.point_de_vie)}}
        </div>
        <div class="form-group">
            {{form_row(form.point_attaque)}}
        </div>
        <div class="form-group">
            {% for type in form.types %}
                    {{ form_widget(type) }}
                    {{ form_label(type) }}
            {% endfor %}
        </div>
        <div class="card-footer">
            <div class="flex-row d-flex">
                <button class="btn btn-success mr-2">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
