{% extends 'base.html.twig' %}

{% block title %}Liste des Pokémons{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Liste des Pokémon</h1>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-center d-none">ID</th>
                <th scope="col" class="text-center col-4">Nom</th>
                <th scope="col" class="text-center col-4">Type</th>
                <th scope="col" class="text-center col-4">#</th>
            </tr>
        </thead>
        <tbody>
            {% for pokemon in allPokemon %}
                <tr>
                    <td class="text-center d-none">{{ pokemon.id }}</td>
                    <td class="text-center">{{ pokemon.nom }}</td>
                    <td class="text-center">{{ pokemon.type.nom }}</td>
                    <td class="text-center">
                        <a class='btn btn-light mr-2' href='/pokedex/show?id={{ pokemon.id }}'>Voir le Pokémon</a>
                        <a class="btn btn-primary mr-2" href='/pokedex/edit?id={{ pokemon.id }}'>Edit</a>
                        <a class="btn btn-danger" href='/pokedex/delete?id={{ pokemon.id }}'>Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
