{% extends 'base.html.twig' %}

{% block title %}Pokemon index{% endblock %}

{% block body %}
    <h1>Pokemon index</h1>

    <table class="table table-hover ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Point_de_vie</th>
                <th>Point_attaque</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pokemon in pokemons %}
            <tr>
                <td>{{ pokemon.id }}</td>
                <td>{{ pokemon.nom }}</td>
                <td>{{ pokemon.type.nom }}</td>
                <td>{{ pokemon.pointDeVie }}</td>
                <td>{{ pokemon.pointAttaque }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_pokemon_show', {'id': pokemon.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('app_pokemon_edit', {'id': pokemon.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class ="btn btn-success ml-3" href="{{ path('app_pokemon_new') }}">Create new</a>
{% endblock %}
