{% extends 'base.html.twig' %}

{% block title %}Pokemon{% endblock %}

{% block body %}
    <h1 class="text-center">Pokemon : {{ pokemon.nom }}</h1>

    <div class="card mt-3 mr-3 ml-3">
        <div class="card-body">
            <h5 class="card-title">{{ pokemon.nom }}</h5>
            <div class="card-text card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Type : <a href="{{ path('app_type_show', {'id': pokemon.type.id}) }}">{{ pokemon.type.nom }}</a></li>
                    <li class="list-group-item">Points de vie : {{ pokemon.pointDeVie }}</li>
                    <li class="list-group-item">Points d'attaque : {{ pokemon.pointAttaque }}</li>
                </ul>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <a class = "btn btn-secondary mr-2 ml-4" href="{{ path('app_pokemon_index') }}">back to list</a>
                <a class = "btn btn-warning mr-2" href="{{ path('app_pokemon_edit', {'id': pokemon.id}) }}">edit</a>
                {{ include('pokemon/_delete_form.html.twig') }} </div>
            </div>
        </div>
    </div>
{% endblock %}
